/* Reset */

*{
    margin: 0;
	padding: 0;
	border: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
}
::-webkit-scrollbar{
    display: none;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
}
body{
    background-color: var(--Cfundo);
}

/* Roots */
:root{
    /* IF cores #2F9E41; #CD191E; #000000;  */
    --Cfundo: #0B1622;
    --Cheader: #151F2E;
    --Ctexto: #9BADBD;
    --Chover: #FFFFFF;
    --Cativo: #3DB4F2;

    --Csuccesso: #10C15C;
    --Cerro: #ed1c24;
    --Cinfo: #0b22e2;

    --THeader: 10vh;
    --TMargin: 13vh;
}


/* Texto */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
    font-family: 'Open Sans', sans-serif;
}
a, label, option, ::placeholder, th, button, span{
    font-size: 1rem;
    color: var(--Ctexto);
    text-decoration: none;
}
select{
    color: var(--Ctexto);
    text-decoration: none;
}
h1{
    font-size: 1.1rem;
    color: var(--Ctexto);
    text-decoration: none;
}
.Simbolo{
    font-family: 'Material Symbols Outlined';
    color: var(--Ctexto);
    font-size: 1.5rem;
    cursor: pointer;
}
a:hover, label:hover, .Simbolo:hover, .th:hover, button:hover, span:hover{
    color: var(--Chover);
}

/* Barra de navegação */

/*
    <div>
        <div class="Sucesso"><span class="Done">done</span> <span id="done"></span></div>
        <div class="Erro"><span class="Simbolo">close</span> <span id="close"></span></div>
        <div class="Simbolo"><span class="Simbolo">info</span> <span id="info"></span></div>
    </div>
*/
.Sucesso, .Erro, .Infor{
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    height: 5rem;
    padding: 1rem;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 1px 20px 0px #000;
    z-index: 3;
}

.Sucesso{
    background-color: var(--Csuccesso);
}
.Erro{
    background-color: var(--Cerro);
}
.Erro span{
    color: var(--Chover);
}
.Infor{
    background-color: var(--Cinfo);
}
.Cortina{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    backdrop-filter: blur(1px);
    z-index: 2;
}
.Header{
    background: var(--Cheader);
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--THeader);
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 1px 20px 0px #000;
    z-index: 1;
}
.Logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.Itens{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Itens a{
    white-space: nowrap;
    margin: 10%;
}
.Pesquisa{
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* Introdução */

.Introducao{
    align-items: center;
    display: flex;
    margin-top: var(--TMargin);
}

.Imagem{
    background-color: var(--Cfundo);
    border-radius: 100%;
    width: 310px;
    height: 310px;
}
.Texto{
    width: 65%;
}

/* Pesquisar */

.Busca{
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    margin-top: var(--TMargin);
    border-radius: 10px;
    padding: 20px;
    width: 80%;
}
.Busca2{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.GrupoCampo{
    align-items: center;
    justify-content: space-between; 
    display: flex;
    width: 100%;
}

.Campo{
    display: flex;
    align-items: center;
    background-color: var(--Cheader);
    border-radius: 5px;
    width: 22%;
    padding: 0 1%;
    height: 2rem;
}
.CampoR{
    display: block;
    background-color: transparent;
    border-radius: 5px;
    position: relative;
}
.PesquisarLabel{
    position: absolute;
    margin-bottom: 4rem;
}
.Pesquisar{
    padding: 0.5rem 1rem;
    background-color: var(--Cheader);
    width: 100%;
    color: var(--Ctexto);
}
.Pesquisar::placeholder{
    color: var(--Ctexto);
}

.Select{
    padding: 0.5rem 1rem;
    background-color: var(--Cheader);
    border-radius: 5px;
    width: 100%;
}

.ValorRange{
    display: flex;
    justify-content: space-between;
}
.RangeValor{
    display: none;
    justify-content: right;
    width: 50%;
    right: 0;
}
.RangeMaiorValor, .RangeMenorValor, .RangeSepararValor{
    display: flex;
    justify-content: center;
    color: var(--Ctexto);
    background-color: transparent;
    width: 2rem;
}
.RangeSepararValor{
    width: 1rem
}
.Progresso{
    height: 5px;
    width: 100%;
    position: absolute;
    border-radius: 5px;
    background-color: var(--Cativo);
}

.LinhaDupla input[type=range]{
    position: absolute;
    height: 5px;
    width: 100%;
    background: none;
    -webkit-appearance: none;
    pointer-events: none;
    appearance: none;
}
input[type=range]::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: var(--Cativo);
    pointer-events: auto;
    cursor: pointer;
    -webkit-appearance: none;
}
.Submit{
    border-radius: 100%;
    height: 2rem;
    width: 2rem;
    background-color: var(--Cativo);
}
.Submit span{
    color: var(--Cfundo);
}

.Atributos{
    display: flex;
    align-items: center;
}
.Filtro{
    padding: 0.3rem;
    background-color: var(--Cativo);
    margin-left: 0.4rem;
    border-radius: 10px;
    color: black;
}

/* Livros */

.Conteudo{
    background-color: var(--Cheader);
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.Indice, .Titulo, .Autor, .Data, .Editar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
    border: 2px solid var(--Cfundo);
}
.Indice{
    width: 5%;
}
.Titulo{
    width: 52%;
}
.Autor{
    width: 32%;;
}
.Data{
    width: 11%;
}
.Editar{
    width: 4%;
}

.Editando{
    display: none;
}

/* Estilo do rodapé */
.Rodape{
    position: fixed;
    display: flex;
    background: var(--Cheader);
    padding: 20px;
    width: 100%;
    bottom: 0;
    justify-content: space-between;
    text-align: center;
}

/* inserir novos livros */

.Inserir{
    width: 80%;
    margin: auto;
    margin-top: var(--TMargin);
}
.Excluir{
    width: 80%;
    margin: auto;
    margin-top: 2rem;
}
.Label{
    margin: 0.5rem;
}
.InserirInput{
    display: block;
    padding: 0.5rem 1rem;
    background-color: var(--Cheader);
    margin-bottom: 2rem;
    border-radius: 5px;
    width: 90%;
    color: var(--Ctexto);
}
.ExcluirInput{
    display: block;
    padding: 0.5rem 1rem;
    background-color: var(--Cheader);
    border-radius: 5px;
    width: 100%;
    color: var(--Ctexto);
    text-align: center;
}

.InserirSelect{
    padding: 0.5rem 1rem;
    background-color: var(--Cheader);
    margin-bottom: 2rem;
    border-radius: 5px;
    width: 95%;
    color: var(--Ctexto);
}
.NovoInserir{
    padding: 0.5rem;
    background-color: var(--Cativo);
    margin-bottom: 2rem;
    border-radius: 5px;
    width: 5%;
    color: var(--Cheader);
}

.File{
    margin: 0px;
    font-size: smaller;
    display: block;
    margin-bottom: 2rem;    
    background-color: var(--Cheader);
    color: var(--Ctexto);
    border-radius: 5px;
    width: 100%;
    padding: 0.7rem;
}

.BotaoInserir{
    width: 100%;
    background-color: var(--Cativo);
    color: var(--Cfundo);
    border-radius: 5px;
    padding: 0.7rem;
}

/* NOVO AUTOR E PAIS */ 

.AddAutor, .AddPais{
    display: none;
    position: absolute;
    padding: 3rem;
    width: 50%;
    top: 20vh;
    background-color: var(--Cfundo);
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 5px;
    box-shadow: 0px 1px 200px 50px #000;
}
.AddAutorTitulo{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
}

/* Login */

.Login{
    margin-left: auto;
    margin-right: auto;
    margin-top: var(--TMargin);
    width: 40%;
    height: 30vh;
    padding: 2rem;
}
.h1Login{
    padding: 1rem;
    display: flex;
    justify-content: center;
}


.Maior{
    font-size: 2rem;
}
.Menor{
    font-size: 1.4rem;
}
.Menor2{
    font-size: 1rem;
}
.Preencher{
    width: 100%;
}
.Flex{
    display: flex;
}
.Invisivel{
    display: none
}
.Transparente{
    background-color: transparent;
}
.Pointer{
    cursor: pointer;
}
.Vermelho{
    background-color: var(--Cerro);
}