/** RESET **/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

::-webkit-scrollbar {
  display: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

body {
  position: relative;
  min-height: calc(100vh - var(--tamanho-header));
  padding-bottom: var(--tamanho-header);
  background-color: var(--cor-primaria);
}

/** ROOTS **/
:root {
  --cor-terciaria: #3db4f2;
  --cor-alert: #cc3300;
  --cor-warning: #ffc107;

  --tamanho-header: 10vh;
  --tamanho-margin-header: 13vh;
}
:root .day {
  --cor-primaria: #F1F3F7;
  --cor-secundaria: #FFFFFF;
  --cor-texto: #105503;
  --cor-hover: #4caf50;
  --sombra: rgba(0 0 0 / 20%);
}
:root .dark {
  --cor-primaria: #0B1622;
  --cor-secundaria: #151F2E;
  --cor-texto: #9BADBD;
  --cor-hover: #FFFFFF;
  --sombra: rgba(255, 255, 255, 30%);

}

input[type=text], input[type=number], input[type=password] {
  background-color: var(--cor-secundaria);
  text-indent: 1rem;
  width: 100%;
  height: 2rem;
  border-radius: 5px;
}

a, label, option, ::placeholder, th, td, button, span, p, input, select, h1, h2, h3, sub {
  color: var(--cor-texto);
  text-decoration: none;
}
sub{
  opacity: 0.5;
}

i:hover {
  -webkit-filter: drop-shadow(0px 0px 10px var(--sombra));
  filter: drop-shadow(0px 0px 10px var(--sombra));
  cursor: pointer;
}

i {
  font-weight: normal;
  font-style: normal;
  font-family: 'Material Symbols Outlined';
  color: var(--cor-texto);
  font-size: 1.5rem;
  cursor: pointer;
}

a:hover,
label:hover,
i:hover,
.th:hover,
button:hover,
span:hover {
  color: var(--cor-hover);
}

/** HEADER  / header.php **/
header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--tamanho-header);
  background: var(--cor-secundaria);
  box-shadow: 0px 1px 20px 0px #000;
  align-items: center;
  justify-items: center;
  z-index: 1;
}

nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  justify-items: center;
  width: 100%;
}

.logo-header:hover {
  -webkit-filter: drop-shadow(0px 0px 5px var(--sombra));
  filter: drop-shadow(0px 0px 5px var(--sombra));
  cursor: pointer;
}

/** INDEX / index.php */

.index-title {
  font-size: large;
  display: flex;
  justify-content: center;
}
.site-introduction {
  margin-top: var(--tamanho-header);
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-items: center;
}
.introduction-logo {
  height: 20vh;
}

/** PESQUISA  / livros.php **/

.pesquisa-livros {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  border-radius: 10px;
  padding: 20px;
}

.campos-pesquisa {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  height: 4rem;
}

.campos-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--cor-secundaria);
  border-radius: 10px;
  padding: 0 5%;
} 

.campo-range {
  display: block;
  background-color: transparent;
  border-radius: 5px;
  position: relative;
}

.pesquisar {
  width: 100%;
  background-color: var(--cor-secundaria);
  color: var(--cor-texto);
}

.select-campos {
  padding: 0.5rem 1rem;
  background-color: var(--cor-secundaria);
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}

.range-value-input {
  display: flex;
  justify-content: space-between;
}

.valores-input {
  align-content: center;
  justify-content: right;
  width: 50%;
  right: 0;
}

.valor_input {
  text-indent: 0px;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--cor-texto);
  background-color: transparent;
  width: 3rem;
}

.linha-progresso {
  height: 5px;
  width: 90%;
  position: absolute;
  border-radius: 5px;
  background-color: var(--cor-terciaria);
}

.range-duplo input[type=range] {
  position: absolute;
  height: 5px;
  width: 90%;
  background: none;
  -webkit-appearance: none;
  pointer-events: none;
  appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: var(--cor-terciaria);
  pointer-events: auto;
  cursor: pointer;
  -webkit-appearance: none;
}

/** LIVROS  / livros.php **/

main {
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--tamanho-margin-header);
  margin-bottom: 2rem;
  width: 80%;
}

.tabela-livros {
  border-collapse:separate;
  width: 100%;
}

.tabela-livros tr {
  display: grid;
  grid-template-columns: 1fr 8fr 4fr 2fr;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-gap: 0.2rem;
}

.tbody-livros tr:hover {
  -webkit-filter: drop-shadow(0px 0px 2px var(--sombra));
  filter: drop-shadow(0px 0px 2px var(--sombra));
  cursor: pointer;
}

.tabela-livros tr th:nth-child(1),
.tabela-livros tr td:nth-child(1),
.tabela-livros tr th:nth-child(5),
.tabela-livros tr td:nth-child(5) {
  justify-content: center
}

.tbody-livros td, .thead-livros th {
  display: flex;
  background-color: var(--cor-secundaria);
  text-wrap: balance;
  height: 3rem;
  align-items: center;
  padding: 0.8rem;
  margin-top: 0.2rem;
}

.thead-livros th {
  display: flex;
  justify-content: space-between;
}

/** RODAPÈ  / footer.php **/
.retornar-inicio {
  display: flex;
  position: fixed;
  cursor: pointer;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--cor-terciaria);
  height: 2rem;
  width: 2rem;
  bottom: 10px;
  right: 10px;
  z-index: 1;
  animation: appear 1ms ease-in-out;
  animation-timeline: view();
}

.retornar-inicio i {
  color: var(--cor-secundaria);
}

footer {
  display: grid;
  position: absolute;
  grid-template-columns: 1fr 5fr 1fr;
  background: var(--cor-secundaria);
  padding: 20px;
  width: 100%;
  height: var(--tamanho-header);
  bottom: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-wrap: balance;
}

/** CADASTRO / cadastrar.php **/

.livros-cadastro {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  grid-gap: 1rem;
}

.cadastro-titulo-data {
  display: grid;
  grid-template-columns: 49% 49%;
  justify-content: space-between;
}

.botao-submit {
  width: 100%;
  background-color: var(--cor-terciaria);
  color: var(--cor-primaria);
  border-radius: 5px;
  padding: 0.7rem;
  cursor: pointer;
  margin-top: 0.5rem;
}

.cadastro-label-file {
  display: flex;
  height: 3rem;
  width: 100%;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  background-color: var(--cor-secundaria);
  cursor: pointer;
}
.cadastro-label-file:hover {
  -webkit-filter: drop-shadow(0px 0px 2px var(--sombra));
  filter: drop-shadow(0px 0px 2px var(--sombra));
}
.cadastro-label-file:active {
  background-color: var(--cor-hover);
}
.novo-autor-pais {
  background-color: var(--cor-secundaria);
  text-decoration: underline;
  cursor: pointer;
  float: right;
}

/** LOGIN  / login.php **/
.login {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30vh;
  width: 50%;
}

.input-senha {
  display: grid;
  grid-template-columns: 10fr 1fr;
  background-color: var(--cor-secundaria);
  align-items: center;
  justify-items: center;
}

.nivel-usuario{
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

.nivel-usuario input{
  height: 15px;
  width: 15px;
  border-radius: 100%;
  margin-top: 15px;
  background-color: var(--cor-secundaria);
}
.nivel-usuario input:checked{
  background-color: var(--cor-terciaria);
}

.tabela-usuarios {
  margin-bottom: 5rem;
  border-collapse: separate;
  width: 100%;
}

.tabela-usuarios tr{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 0.2rem;
}
.tabela-usuarios tbody tr:hover {
  -webkit-filter: drop-shadow(0px 0px 2px var(--sombra));
  filter: drop-shadow(0px 0px 2px var(--sombra));
}

.tabela-usuarios td, .tabela-usuarios th {
  display: flex;
  background-color: var(--cor-secundaria);
  text-wrap: balance;
  height: 2rem;
  align-items: center;
  padding: 0.8rem;
  margin-top: 0.2rem;
}

.editar-tabela {
  -webkit-filter: drop-shadow(0px 0px 2px var(--sombra));
  filter: drop-shadow(0px 0px 2px var(--sombra));
}

.criar-usuario {
  background-color: var(--cor-terciaria) !important;
  color: var(--cor-secundaria); 
  justify-content: center;
}
.apagar-usuario {
  background-color: var(--cor-alert) !important;
  color: var(--cor-secundaria);
  justify-content: center;
}
.criar-usuario:hover, .apagar-usuario:hover {
  color: var(--cor-texto);
  -webkit-filter: drop-shadow(0px 0px 5px var(--sombra));
  filter: drop-shadow(0px 0px 5px var(--sombra));
  cursor: pointer;
}

.ferramenta-editar {
  display: flex;
  justify-content: space-around;
}

.alterar-senha {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 0.5rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.display-none {
  display: none;
}

.color-alert {
  background-color: var(--cor-alert);
}
.item-alert {
  color: var(--cor-alert);
}
.item-warning {
  color: var(--cor-warning);
}
.no-background {
  background-color: transparent;
}

.align-center {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  main {
    width: 95%;
  }
  header {
    grid-template-columns: 1fr 3fr 1fr;
  }
  .tabela-livros tr {
    display: grid;
    grid-template-columns: 1fr 8fr 4fr;
  }
  table tr td:nth-child(4), table tr th:nth-child(4) {
    display: none;
  }

}

@keyframes appear {
  from {
    opacity: 0;
    translate: 10vw 0;
  }

  to {
    opacity: 1;
    translate: 0 0;
  }
}